In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [19]:
df = pd.read_csv('all_data.csv')

In [20]:
df = df[['team_number','OPR', 'CCWM','RankingPoints','Wins', 'Losses', 'Ties', 'ClimbPoints', 'AutoPoints', 'OwnershipPoints', 'VaultPoints' ]]

In [21]:
df.head()

,team_number,OPR,CCWM,RankingPoints,Wins,Losses,Ties,ClimbPoints,AutoPoints,OwnershipPoints,VaultPoints
0,1,95.602681,32.447190,20.500000,8.0,4.0,0.00,432.500000,237.000000,2508.500000,280.000000
1,4,138.297845,39.964315,14.000000,5.0,5.5,0.00,407.500000,225.000000,2077.500000,295.000000
2,8,152.021202,90.167168,18.500000,6.0,3.0,0.00,310.000000,282.500000,2107.000000,202.500000
3,11,84.657441,-18.178829,15.500000,5.0,6.0,0.25,517.500000,249.250000,2028.500000,325.000000
4,16,195.553695,154.416429,27.666667,8.0,2.0,0.00,626.666667,348.666667,2566.666667,303.333333

In [24]:
cols = list(df)
test = df[cols[1:]]
team_name = df[cols[0]]
test.head()

,1,2,3,4,5,6,7,8,9
0,0.542633,0.488095,0.685714,0.333333,0.00,0.369275,0.362360,0.675200,0.486207
1,0.558866,0.333333,0.428571,0.458333,0.00,0.340649,0.337079,0.537573,0.517241
2,0.667279,0.440476,0.514286,0.250000,0.00,0.229008,0.458216,0.546993,0.325862
3,0.433307,0.369048,0.428571,0.500000,0.25,0.466603,0.388167,0.521927,0.579310
4,0.806024,0.658730,0.685714,0.166667,0.00,0.591603,0.597612,0.693773,0.534483

In [26]:
type(team_name)

pandas.core.series.Series

In [23]:
from sklearn import preprocessing
x = test.values #returns a numpy array
print x.shape
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.head()

(3617L, 10L)

,0,1,2,3,4,5,6,7,8,9
0,0.448270,0.542633,0.488095,0.685714,0.333333,0.00,0.369275,0.362360,0.675200,0.486207
1,0.588325,0.558866,0.333333,0.428571,0.458333,0.00,0.340649,0.337079,0.537573,0.517241
2,0.633343,0.667279,0.440476,0.514286,0.250000,0.00,0.229008,0.458216,0.546993,0.325862
3,0.412365,0.433307,0.369048,0.428571,0.500000,0.25,0.466603,0.388167,0.521927,0.579310
4,0.776146,0.806024,0.658730,0.685714,0.166667,0.00,0.591603,0.597612,0.693773,0.534483

In [8]:
cos = cosine_similarity(df)

In [9]:
cos

array([[ 1.        ,  0.99886517,  0.99786236, ...,  0.30633861,
         0.21502957,  0.20862301],
       [ 0.99886517,  1.        ,  0.99733391, ...,  0.30886117,
         0.21612387,  0.21055162],
       [ 0.99786236,  0.99733391,  1.        , ...,  0.30860068,
         0.21706494,  0.21088575],
       ...,
       [ 0.30633861,  0.30886117,  0.30860068, ...,  1.        ,
         0.9947874 ,  0.99447258],
       [ 0.21502957,  0.21612387,  0.21706494, ...,  0.9947874 ,
         1.        ,  0.99966696],
       [ 0.20862301,  0.21055162,  0.21088575, ...,  0.99447258,
         0.99966696,  1.        ]])

In [ ]:
_t = np.array(cos)
final_set = pd.DataFrame(_t, columns=list(df['team_number']), index=list(df['team_number']))

sns.set(font_scale=0.75)
plt.figure(figsize=(50,50))
colormap = plt.cm.cubehelix_r
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
sns.heatmap(final_set, annot=True, cmap=colormap, square=True, linewidths=0.2)
plt.title("Team Similarity")
plt.savefig('Team_Similarity.png')
plt.show()