In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [14]:
df = pd.read_csv('all_data.csv')

In [15]:
df.head()

,key,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,nickname,rookie_year,state_prov,team_number,events,OPR,DPR,CCWM,RankingPoints,Wins,Losses,Ties,ClimbPoints,AutoPoints,OwnershipPoints,VaultPoints
0,frc1,0,0,0,The Juggernauts,1997.0,Michigan,1,"['2018miket', '2018miwat']",95.602681,63.155491,32.447190,20.500000,8.0,4.0,0.00,432.500000,237.000000,2508.500000,280.000000
1,frc4,1,1,1,Team 4 ELEMENT,1997.0,California,4,"['2018capo', '2018nvlv']",138.297845,98.333529,39.964315,14.000000,5.0,5.5,0.00,407.500000,225.000000,2077.500000,295.000000
2,frc8,2,2,5,Paly Robotics,1996.0,California,8,"['2018azfl', '2018casj']",152.021202,61.854034,90.167168,18.500000,6.0,3.0,0.00,310.000000,282.500000,2107.000000,202.500000
3,frc11,3,3,8,MORT,1997.0,New Jersey,11,"['2018mrcmp', '2018njfla', '2018njski', '2018q...",84.657441,102.836270,-18.178829,15.500000,5.0,6.0,0.25,517.500000,249.250000,2028.500000,325.000000
4,frc16,4,4,12,Bomb Squad,1996.0,Arkansas,16,"['2018arli', '2018carv', '2018ilch']",195.553695,41.137266,154.416429,27.666667,8.0,2.0,0.00,626.666667,348.666667,2566.666667,303.333333

In [16]:
list(df)

['key',
 'Unnamed: 0',
 'Unnamed: 0.1',
 'Unnamed: 0.1.1',
 'nickname',
 'rookie_year',
 'state_prov',
 'team_number',
 'events',
 'OPR',
 'DPR',
 'CCWM',
 'RankingPoints',
 'Wins',
 'Losses',
 'Ties',
 'ClimbPoints',
 'AutoPoints',
 'OwnershipPoints',
 'VaultPoints']

In [17]:
df = df[['team_number','OPR', 'CCWM','RankingPoints','Wins', 'Losses', 'Ties', 'ClimbPoints', 'AutoPoints', 'OwnershipPoints', 'VaultPoints' ]]

In [18]:
df.head()
df = df.head(1000)
print(df.shape)

(1000, 11)

In [19]:
cos = cosine_similarity(df)

In [20]:
len(cos)

1000

In [ ]:
_t = np.array(cos)
final_set = pd.DataFrame(_t, columns=list(df['team_number']), index=list(df['team_number']))

sns.set(font_scale=0.75)
plt.figure(figsize=(50,50))
colormap = plt.cm.cubehelix_r
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
sns.heatmap(final_set, annot=True, cmap=colormap, square=True, linewidths=0.2)
plt.title("Team Similarity")
plt.savefig('Team_Similarity.png')
plt.show()